@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

/* KEYFRAME EFFECTS */
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(10);
    transform: translateY(10);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  font-family: "Sour Gummy"; /** Work Sans */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* HEADER SECTION */
.container-header {
  background: #1e2326;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.container-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.container-header header .logo a {
  font-family: "Sour Gummy";
  font-size: 36px;
  color: #e6cc00;
  text-decoration: none;
}

.container-header header ul {
  display: flex;
  list-style: none;
}

.container-header header nav ul li a {
  font-size: 22px;
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.container-header header nav ul li a:hover {
  color: #e6cc00;
}

.nav-responsive {
  background-color: #1e2326;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
/* Wave effect */

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

/* HOME SECTION */
.home {
  height: 120vh;
  color: #fff;
  display: flex;
  overflow: auto;
  background:
  url(assets/img/background-image-colorfull_3.webp)
  
  /* background: linear-gradient(315deg, rgba(255, 255, 255, 1) 3%, rgba(230, 204, 0, 1) 38%, rgba(128, 128, 128, 1) 68%, rgba(30, 35, 38, 1) 98%);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed; */
}

 /*  background: linear-gradient(
      to top,
      rgba(10, 12, 11, 0.2),
      rgba(10, 12, 11, 1)
    ), 
    url(https://lh7-rt.googleusercontent.com/docsz/AD_4nXdPXRxfad5FdbVw2Ofus7SVMfZMe793AJ3WDH--d-S9LkWCIAalUaCEXtBMsoZPAawyJXjABgxY0wfIgqveE0w9wpLa90fHS1oithyLde2CpqAoKJCRt29ZuA0sz5MxDCmjiHO7jlzFLsUfGzHkfUEU31ABich6JzN2XqXC9g?key=E81dqRdG-ZbM7v8dCLi4eg); 
   */
    /* background: 
    url(assets/img/background-image-colorfull.jpg); */

/*   background-size: cover;
  height: 120vh;
  color: #fff;
  display: flex;
  align-items: center;
  animation: fadeInAnimation ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */

.home .container-banner {
  padding: 20px;
  background-color: #e6cc00;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
  /* animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

.home .container-banner img {
  margin-top: 40px;
  border: 5px solid #1e2326; 
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.home .container-banner h1 {
  color: #131517;
  margin-top: 30px;
  font-size: 40px;
  font-family: "Sour Gummy";
}

.home .container-banner h2 {
  color: #131517;
  font-size: 20px;
  font-weight: normal;
}

.home .container-banner h3 {
  color: #131517;
  font-size: 15px;
  font-weight: normal;
}

.home .container-banner .network-icons a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 30px 5px;
  font-size: 20px;
  transition: 0.3s;
}

.home .container-banner .network-icons a:hover {
  background-color: #1e2326;
}

/* ABOUT ME SECTION */
.about-me {
  background-color: #e6cc00;
  color: #fff;
  padding: 50px 20px;
}

.about-me .container-section {
  max-width: 1100px;
  margin: auto;
}

.about-me h2 {
  font-size: 48px;
  font-family: "Sour Gummy";
  text-align: center;
  padding: 20px 0;
  color: #1e2326;
}

.about-me .container-section h3 {
  font: 50px;
  font-family: "Sour Gummy";
  color: #1e2326;
  line-height: 25px;
  margin-bottom: 10px;
  padding: 30px 0px;
}

.about-me .container-section h3 span {
  font: 50px;
  font-family: "Sour Gummy";
  color: #fff;
  font-weight: bold;
}

/** PROFESSIONAL CONTAINER */
.about-me .professional-section {
  display: flex;
}

.about-me .professional-section .col-1 {
  width: 50%;
}

.about-me .professional-section .col-1 h3 {
  color: #1e2326;
  font-size: 30px;
  font-family: "Sour Gummy";
  margin-bottom: 25px;
}

.about-me .professional-section .col-1 .professional-container {
  display: flex;
  flex-wrap: wrap;
}

.about-me .professional-section .col-1 .professional-container .professional {
  width: 100px;
  height: 100px;
  background-color: #252a2e;
  border-radius: 5px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  text-align: center;
}

.about-me
  .professional-section
  .col-1
  .professional-container
  .professional
  .doc-buttons {
  background-color: #252a2e;
  border-radius: 20px;
  outline: 0px auto;
}

.about-me
  .professional-section
  .col-1
  .professional-container
  .professional:hover {
  background-color: grey;
  /*animation: bounce 2s;*/
}

.about-me .professional-section .col-1 .professional-container .professional i {
  font-size: 30px;
  margin-bottom: 10px;
}

/** INTERESTS CONTAINER */
.about-me .professional-section .col-2 h3 {
  color: #1e2326;
  font-size: 30px;
  font-family: "Sour Gummy";
  margin-bottom: 25px;
}

.about-me .professional-section .col-2 .interests-container {
  display: flex;
  flex-wrap: wrap;
}

.about-me .professional-section .col-2 .interests-container .interests {
  width: 100px;
  height: 100px;
  background-color: #252a2e;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.about-me .professional-section .col-2 .interests-container .interests:hover {
  background-color: grey;
}

.about-me .professional-section .col-2 .interests-container .interests i {
  font-size: 30px;
  margin-bottom: 10px;
}

.about-me .professional-section .col-1 .tech-stack-container .tech-stack img {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 0px 10px;
  width: 70px;
  height: 70px;
  outline: 0px auto;
}

.about-me .professional-section .col-2 .tech-stack-container .tech-stack img {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 0px 10px;
  width: 70px;
  height: 70px;
  outline: 0px auto;
}

/* DOCUMENTS BUTTONS CONTAINER */

/* SKILLS SECTION */
.skills {
  background-color: #252a2e;
  color: #fff;
  padding: 50px 20px;
}

.skills .container-section {
  max-width: 1100px;
  margin: auto;
}

.skills h2 {
  font-size: 48px;
  font-family: "Sour Gummy";
  text-align: center;
  padding: 30px 0;
  color: #e6cc00;
}

.skills .skills-container {
  display: flex;
}

.skills .skills-container .col {
  width: 50%;
  padding: 0 20px;
}

.skills .skills-container .col h3 {
  font-size: 28px;
  font-family: "Sour Gummy";
  margin-bottom: 25px;
}

/* TECHNICAL SKILLS */
.skills .skill > span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.skills .skill .progression-bar-skill {
  height: 8px;
  width: 80%;
  background-color: #131517;
  position: relative;
  margin-bottom: 30px;
}

.skills .skill .progress {
  background-color: #e6cc00;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}

.skills .skill .progression-bar-skill span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #e6cc00;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}

.skills .skill .java {
  width: 0%;
  animation: 2s java forwards;
}

@keyframes java {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

.skills .skill .javascript {
  width: 0%;
  animation: 2s javascript forwards;
}

@keyframes javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

.skills .skill .python {
  width: 0%;
  animation: 2s python forwards;
}

@keyframes python {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

.skills .skill .selenium {
  width: 0%;
  animation: 2s selenium forwards;
}

@keyframes selenium {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

.skills .skill .cypress {
  width: 0%;
  animation: 2s cypress forwards;
}

@keyframes cypress {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

.skills .skill .robot {
  width: 0%;
  animation: 2s robot forwards;
}

@keyframes robot {
  0% {
    width: 0%;
  }

  100% {
    width: 55%;
  }
}

.skills .skill .machine-learning {
  width: 0%;
  animation: 2s machine-learning forwards;
}

@keyframes machine-learning  {
  0% {
    width: 0%;
  }

  100% {
    width: 25%;
  }
}

/* PROFESSIONAL SKILLS */
.skills .skill .comunication {
  width: 0%;
  animation: 2s comunication forwards;
}

@keyframes comunication {
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}

.skills .skill .teamwork {
  width: 0%;
  animation: 2s teamwork forwards;
}

@keyframes teamwork {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.skills .skill .creativity {
  width: 0%;
  animation: 2s creativity forwards;
}

@keyframes creativity {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.skills .skill .dedication {
  width: 0%;
  animation: 2s dedication forwards;
}

@keyframes dedication {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.skills .skill .project {
  width: 0%;
  animation: 2s project forwards;
}

@keyframes project {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

/* CURRICULUM SECTION */
.curriculum {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
}

.curriculum .container-section {
  max-width: 1100px;
  margin: auto;
}

.curriculum h2 {
  color: #e6cc00;
  font-size: 48px;
  font-family: "Sour Gummy";
  text-align: center;
  padding: 30px 0;
}

.curriculum .cv-container {
  display: flex;
  justify-content: space-between;
}

.curriculum .cv-container .col {
  width: 50%;             /* fator que explode a tela no telemóvel*/     
  padding: 0 10px;
}

.curriculum .cv-container .col h3 {
  color: #fff;
  font-size: 28px;
  font-family: "Sour Gummy";
  margin-bottom: 25px;
}

.curriculum .cv-container .item {
  padding: 20px;
  margin-bottom: 10px;
  position: sticky;
  border: 1px solid #fff;
  box-shadow: 10px 20px grey;
}
.curriculum .cv-container .item:hover {
  background-color: #e6cc00;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.curriculum .cv-container .item h4 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.curriculum .cv-container .item .place {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.curriculum .cv-container .item .date {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}

.curriculum .cv-container .item p {
  color: #fff;
  line-height: 24px;
}

.curriculum .cv-container .left {
  padding: auto;
  border-radius: 20px;
}

.curriculum .cv-container .right {
  padding: auto;
  border-radius: 20px;
}

/* PROJECT SECTION */
.projects {
  background-color: #131517;
  color: #fff;
  padding: 50px 20px;
}

.projects .container-section {
  max-width: 1100px;
  margin: auto;
}

.projects h2 {
  font-size: 48px;
  font-family: "Sour Gummy";
  text-align: center;
  padding: 30px 0;
}


.projects .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery .tech-projects {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #252a2e;
  background-color: #252a2e;
  border-radius: 20px;
  position: relative;
  max-width: 340px;
  height: fit-content;
  margin: 10px;
}

.projects .description h3 {
  font-size: 20px;
  font-family: "Sour Gummy";
  text-align: center;
  padding: 10px 10px;
}

.projects .description p {
  font-size: 15px;
  font-family: "Sour Gummy";
  text-align: center;
}

.projects .description .projects-buttons  {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  margin: 10px 10px;
  padding: 5px 20px 5px 5px;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.projects .gallery .tech-projects .description .projects-buttons img  {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px 10px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  outline: 0px auto;
}

.projects .description .frame-and-tools  {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  margin: 10px 10px;
  padding: 5px 20px 5px 5px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

.projects .description .frame-and-tools img{
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 10px 10px;
  width: 40px;
  height: 40px;
  outline: 0px auto;
}

.projects .gallery .tech-projects img {
  width: 100%;
  display: block;
}

.projects .gallery .tech-projects video {
  width: 100%;
  display: block;
}

/* .portfolio .gallery .projects .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(255, 215, 0, 0.8), rgba(255, 215, 0, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  color: #131517; 
  letter-spacing: 3px;
  opacity: 0;
} */

/* .portfolio .gallery .projects .overlay h3 {
  margin-bottom: 20px;
  transition: 1s;
}

.portfolio .gallery .projects .overlay:hover {
  opacity: 1;
}

.portfolio .gallery .projects .overlay:hover h3 {
  margin-bottom: 0px;
} */

/*FOOTER SECTION*/
footer {
  background-color: #e6cc00;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

footer .up-page-arrow {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #1e2326;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}

footer .network-icons {
  margin-bottom: 20px;
}

footer .network-icons a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}

footer .network-icons a:hover {
  background-color: #1e2326;
}

/* RESPONSIVE SECTION */
@media screen and (max-width: 980px) {
  nav {
    display: none;
  }

  .nav-responsive {
    display: block;
  }

  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #252a2e;
    width: 180px;
  }

  nav.responsive ul {
    display: block !important;
  }

  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
}

@media screen and (max-width: 700px) {
  .about-me .professional-section {
    display: fit-content;
  }

  .about-me .professional-section .col-1 {
    width: fit-content;
  }

  .about-me .document-buttons button a span {
    flex-wrap: wrap;
    display: fit-content;
    width: fit-content;
    position: inherit;
  }

  .skills .container-section {
    display: block;
  }

  .skills .container-section .col {
    width: 100%;
  }

  .skills .container-section .col .progression-bar-skill {
    width: 100%;
  }

  .curriculum .container-section {
    display: block;
  }

  .curriculum .cv-container {
    flex-direction: column;   /* Adicionado */
  }

  .curriculum .container-section .col {
    width: 100%;              /* Modificado */
    padding: 0 0 20px;        /* Ajuste espaçamento */
  }

  .curriculum .container-section .left {
    margin-left: 20px;
  }

  .portfolio .galeria {
    display: block;
    width: 100%;
  }

  .portfolio .galeria .proyecto {
    max-width: 100%;
  }

  .portfolio .galeria .proyecto img {
    width: 100%;
  }

  .contactme .professional-section {
    display: block;
  }

  .contactme .professional-section .col {
    width: 100%;
  }
}
